.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 50;
    font-style: normal;
  }
.banner {
    background-image: url(/shabeer-portfolio/photo/slide.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding : 400px 0;

}

.skillpadding{
  padding: 50px 0;
}